:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  background-color: hsla(var(--ig-gray-200));
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 32px;
  flex-shrink: 0;
}
.row-layout {
  display: flex;
}
.group_2 {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.h5 {
  height: max-content;
  min-width: min-content;
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.hyperlink {
  color: hsla(var(--ig-info-500));
  cursor: pointer;
  height: max-content;
  min-width: min-content;
}
.input {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.button {
  height: max-content;
  flex-shrink: 0;
}
.grid {
  margin: 32px;
  min-width: 600px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
