<div class="column-layout group">
  <div class="column-layout group_1">
    <h5 class="h5">
      Employees table
    </h5>
    <div class="row-layout group_2">
      <igx-input-group type="border" class="input">
        <igx-prefix>
          <igx-icon class="icon">
            filter_alt
          </igx-icon>
        </igx-prefix>
        <input type="text" placeholder="Filter" igxInput />
      </igx-input-group>
      <button igxButton="raised" igxRipple class="button">
        Add new employee
      </button>
    </div>
  </div>
  <igx-grid [data]="northwindCustomers" primaryKey="customerID" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
    <igx-column field="customerID" dataType="string" header="customerID" [sortable]="true" [selectable]="false">
      <ng-template igxCell let-cell="cell">
        <a target="_blank" routerLink="/details-view" class="ig-typography__body-1 hyperlink">
          {{ cell.value }}
        </a>
      </ng-template>
    </igx-column>
    <igx-column field="companyName" dataType="string" header="companyName" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="contactName" dataType="string" header="contactName" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="contactTitle" dataType="string" header="contactTitle" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="address.street" dataType="string" header="address street" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="address.city" dataType="string" header="address city" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="address.region" dataType="string" header="address region" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="address.postalCode" dataType="string" header="address postalCode" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="address.country" dataType="string" header="address country" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="address.phone" dataType="string" header="address phone" [sortable]="true" [selectable]="false"></igx-column>
  </igx-grid>
</div>
